*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    background-color: #0f1111;
    height: 60px;

}

a{
    text-decoration: none;
    color: white;
    margin-left: 200px;
}

#logo{
    margin-left: 2px;
    font-size: 25px;
    color: #f08804;
}

input{
  margin-left: 200px;
}

button{
    background-color: #f08804;
    color: white;
}

.contentbox{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
